.h-wrapper {
  z-index: 99;
  position: sticky;
  top: 0;
}

.h-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--secondary);
  justify-content: space-between;
}

.h-menu {
  gap: 2rem;
}

.h-menu>*:hover {
  cursor: pointer;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .h-menu {
    gap: 2rem;
    top: 3rem;
    right: 4rem;
    padding: 3rem;
    font-weight: 50;
    position: absolute;
    color: var(--black);
    background: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    transition: all 300ms ease-in;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
}